<div class="example-container-top mat-elevation-z1">
  <button mat-raised-button color="warn" (click)="addOne()">Add a host</button>
  <button mat-raised-button color="warn" (click)="addOneRandom()">Add a random host</button>
  <button mat-raised-button color="warn" (click)="generateData()">Generate 50 Hosts</button>
  <button mat-raised-button color="warn" (click)="deleteAllHosts()">Delete Hosts</button>
</div>
<!--Main Card-->
<div class="example-container-top mat-elevation-z4" *ngIf="localhost.id !== ''">
  <table>
    <tr>
      <th colspan="4">Host Profile</th>
    </tr>
    <tr>
      <td rowspan="4"><img src="{{localhost.imgpath}}" alt="{{localhost.name}}"></td>
      <td><b>Name:</b> {{localhost.name}}</td>
      <td><b>Company:</b> {{localhost.company}}</td>
      <td><b>Position:</b> {{localhost.position}}</td>
    </tr>
    <tr>
      <td><b>IC:</b>{{localhost.ic}}</td>
      <td><b>Email:</b>{{localhost.pemail}}</td>
      <td><b>Handphone:</b>{{localhost.hp}}</td>
    </tr>
    <tr>
      <td colspan="4"><b>Address:</b>{{localhost.address}}</td>
    </tr>
    <tr>
      <td>
          <button mat-raised-button color="primary" (click)="clickToSendSMS(localhost)">Send SMS</button>
          <button mat-raised-button color="primary" (click)="clickToSendEmail(localhost)">Send Email</button>
      </td>      
    </tr>
  </table>
</div>
<!--Main Table-->
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">

    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </mat-header-cell>
      <mat-cell *matCellDef="let host"><img src="{{ host.imgpath }}" width="50px" height="50px"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.name }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.company }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="ic">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Identification </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.ic }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let host">
        <button mat-raised-button color="primary" (click)="openHostDialog(host)">Edit</button>
        <button mat-raised-button color="accent" (click)="deleteHostDialog(host)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onClick(row)"
      class="animate"></mat-row>
  </mat-table>
</div>
