
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" [(opened)]="opened">
    <mat-nav-list>
      <a mat-list-item *ngFor="let routerName of routeNames" 
      (click)="sidenav.toggle();"      
      [routerLink]="[routerName.link]"> {{ routerName.name }} </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-fab (click)="sidenav.toggle()"><i class="fa fa-bars"></i></button>
      <span class="sidenav-title">{{title}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
