<div class="row">
  <!-- Register screen left -->
  <div class="col s5">
    <app-visitorlist 
    [allVisitors]="myVisitors" 
    (clickOnSelectVisitor)="selectVisitor($event)"
    (clickOnSelectVisitorRow)="selectVisitorRow($event)"></app-visitorlist>
  </div>
  <!-- Register screen right -->
  <div class="col s7">
    <app-visitordetail 
    [detailVisitor]="myVisitor"
    (clickOnEditButton)="editVisitorDetail($event)"
    (clickOnAddButton)="addNewVisitor()"
    *ngIf="!toggle; else editVisitor"></app-visitordetail>
    <ng-template #editVisitor>
      <app-visitoredit 
      [editVisitor]="myVisitor"
      (clickOnSaveVisitor)="saveVisitorProfile($event)"
      (clickOnCancelVisitor)="cancelSaveVisitorProfile($event)"></app-visitoredit>
    </ng-template>
  </div>
</div>

<div class="content">
  <button (click)="db.generateData(50)" class="button is-success">Generate 50 Documents</button>  
  <button (click)="deleteWidgets()" class="button is-danger">Delete All</button>
<table class="table is-striped">
  <thead>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Color</th>
      <th>Price</th>
    <tr>

    <tr *ngFor="let widget of widgets$ | async">
        <td>{{ widget.name }}</td>
        <td>{{ widget.brand }}</td>
        <td>{{ widget.color }}</td>
        <td>{{ widget.price }}</td>
      </tr>
            
  </tbody>
</table>
</div>
