<div>
  <div class="col s12">
    <h3>Edit Visitor Profile</h3>
    <form materialize class="col s12" (ngSubmit)="onClickSaveButton(editvisitor)">

      <div class="row">
        <div class="input-field col s12">
          <input id="visitorpic" type="text" [(ngModel)]="editvisitor.img" name="visitorpic">
          <label for="visitorpic">Profile Photo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="visitorname" type="text" [(ngModel)]="editvisitor.name" name="visitorname">
          <label for="visitorname">Visitor Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="visitorcompany" type="text" [(ngModel)]="editvisitor.company" name="visitorcompany">
          <label for="visitorcompany">Visitor Company</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="visitoridentitfication" type="email" [(ngModel)]="editvisitor.ic" name="visitoridentification">
          <label for="visitoridentification">IC/FIN/Passport</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="visitorposition" type="text" [(ngModel)]="editvisitor.position" name="visitorposition">
          <label for="visitorposition">Position</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="visitoremail" type="text" [(ngModel)]="editvisitor.email" name="visitoremail">
          <label for="visitoremail">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="visitorhandphone" type="text" [(ngModel)]="editvisitor.hp" name="visitorhandphone">
          <label for="visitorhandphone">Handphone</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            <input id="visitoraddress" type="text" [(ngModel)]="editvisitor.address" name="visitoraddress">
            <label for="visitoraddress">Address</label>
          </div>
        </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Save
        <i class="material-icons right">save</i>
      </button>
      <button class="btn waves-effect waves-light" type="button" (click)="onClickCancelButton()">Cancel
        <i class="material-icons right">cancel</i>
      </button>
    </form>
  </div>
</div>
