<ul class="collection">
  <li class="collection-item">
    <h3>Visitor Details 
    <a class="btn-floating pulse btn-large waves-effect waves-light red" (click)="onClickEditButton()">
      <i class="material-icons">edit</i>
    </a>
    <a class="btn-floating pulse btn-large waves-effect waves-light red" (click)="onClickAddButton()">
      <i class="material-icons">add</i>
    </a>
  </h3>
  </li>
  <li class="collection-item">
      <img src="{{detailVisitor.img}}" alt="" class="circle responsive-img">
  </li>
  <li class="collection-item">Name:{{detailVisitor.name}}</li>
  <li class="collection-item">Company:{{detailVisitor.company}}</li>
  <li class="collection-item">IC/FIN/Passport:{{detailVisitor.id}}</li>
  <li class="collection-item">Position:{{detailVisitor.position}}</li>
  <li class="collection-item">Email:{{detailVisitor.email}}</li>
  <li class="collection-item">Handphone:{{detailVisitor.hp}}</li>  
  <li class="collection-item">Address:{{detailVisitor.address}}</li>  
</ul>
