<ul class="collection">
  <li class="collection-item">
    <h3>Visitor Details 
    <a class="btn-floating pulse btn-large waves-effect waves-light red">
      <i class="material-icons">edit</i>
    </a>
  </h3>
  </li>
  <li class="collection-item">
      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/363633-200.png" alt="" class="circle responsive-img">
  </li>
  <li class="collection-item">Name: Phone Myat Thu</li>
  <li class="collection-item">Company: Anewtech Systems</li>
  <li class="collection-item">IC/FIN/Passport: G0706962L</li>
  <li class="collection-item">Position: Software Engineer</li>
  <li class="collection-item">Email: phonemyatt@anewtech.com.sg</li>
  <li class="collection-item">Handphone: +65-92338553</li>  
  <li class="collection-item">Address: Oxley Bizhub 2</li>  
</ul>
