<ul class="collection">
  <li class="collection-item">
    <h3>Visitor Details 
    <a class="btn-floating pulse btn-large waves-effect waves-light red" (click)="onClickEditButton()">
      <i class="material-icons">edit</i>
    </a>
  </h3>
  </li>
  <li class="collection-item">
      <img src="{{singleVisitor.img}}" alt="" class="circle responsive-img">
  </li>
  <li class="collection-item">Name:{{singleVisitor.name}}</li>
  <li class="collection-item">Company:{{singleVisitor.company}}</li>
  <li class="collection-item">IC/FIN/Passport:{{singleVisitor.ic}}</li>
  <li class="collection-item">Position:{{singleVisitor.position}}</li>
  <li class="collection-item">Email:{{singleVisitor.email}}</li>
  <li class="collection-item">Handphone:{{singleVisitor.hp}}</li>  
  <li class="collection-item">Address:{{singleVisitor.address}}</li>  
</ul>
