<div class="example-container-top mat-elevation-z1">
  <button mat-raised-button color="warn" (click)="addOne()">Add a host</button>
  <button mat-raised-button color="warn" (click)="addOneRandom()">Add a random host</button>
  <button mat-raised-button color="warn" (click)="generateData()">Generate 50 Hosts</button>
  <button mat-raised-button color="warn" (click)="deleteAllHosts()">Delete Hosts</button>
</div>
<!--Main Table-->
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackByUid" class="animate">

    <ng-container matColumnDef="avatar">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </mat-header-cell>
      <mat-cell *matCellDef="let host">
        <img src="{{ host.imgpath }}" width="50px" height="50px">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.name }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.company }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="ic">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Identification </mat-header-cell>
      <mat-cell *matCellDef="let host"> {{ host.ic }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let host">
        <button mat-raised-button color="primary" (click)="openHostDialog(host)">Edit</button>
        <button mat-raised-button color="accent" (click)="deleteHostDialog(host)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="onClick(row)"
      class="animate"></mat-row>
  </mat-table>
</div>

<div class="footer">
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Host</h3>
        <img src="https://customers.accrisoft.com/clientuploads/authorship_profile.jpg" alt="Avatar" style="width:100px;height:100px;">
        <div class="container">
          <h4>
            <b>John Doe</b>
          </h4>
          <p>Software Engineer</p>
          <p>R&D Team</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Visitor</h3>
        <img src="https://customers.accrisoft.com/clientuploads/authorship_profile.jpg" alt="Avatar" style="width:100px;height:100px;">
        <div class="container">
          <h4>
            <b>John Doe</b>
          </h4>
          <p>Architect & Engineer</p>
          <p>Anewtech Systems</p>
        </div>
      </div>
    </div>
    <div class="column">
      <h2>Column 3</h2>
      <p>Some text..</p>
    </div>
  </div>
</div>
